<h1> World Cities </h1>
<table border="1" class="table">
<tr>
  <td><b>City name</b></td>
  <% WorldCity.order(:id).each do |w|%>
  <td><%=w.name%></td>
  <%end%>
</tr>

<tr>
  <td><b>Country name</b></td>
  <% WorldCity.order(:id).each do |w| %>
  <td><%=w.country%> <img src="/images/<%=w.country_flag_filename%>"></td>
  <%end%>
</tr>

<tr>
  <td><b>More Details</b></td>
  <%WorldCity.order(:id).each do |w| %>
  <td>
  <a href="/world_cities/<%=w.id%>">
  Details  </a>
  </td>
  <%end%>

</tr>

</table>
  

