<a href='/'>Back to all sightings</a>

<h1>Sighting details<h1>

<h2>
  <b>When: </b>
   <%=@sighting.when_seen%>
</h2>

<h2>
  <b>Where: </b>
   <%=@sighting.location%>
</h2>

<h2>
  <b>Description: </b>
   <%=@sighting.description%>
</h2>


  
