<h1><center>Chemical Elements</center></h1>
<ul>
  <% Element.order(:id).each do |element| %>
  <li>
    <a href= "/elements/<%= element.id %>">
      <%= element.name %>
    </a>
 </li>
 <%end%>
</ul>

