<h1> Track and Field Race Times </h1>

<table border="1">
  <tr>
    <td></td>
    <td>100-meter dash</td>
    <td>10k run</td>
    <td>400-meter dash</td>
  </tr>
  
  <% Athlete.order(:id).each do |a| %>
  <tr>
    <td> <%=a.name%> </td>
    <td> _____:__</td>
    <td> _____:__</td>
    <td> _____:__</td>
  </tr>
  <%end%>
</table>