<p class="inverse">
  White text on a black background
</p>
<p class="borderpadding">
  Text with a thick border and some padding around it
</p>
<p class="Smbox">
  Small text in a narrow box that's indented
</p>
<p class="ThinBorder">
  Text with a thin border and lots of room around it
</p>
<p class="CenterBox">
  Text in a box that's centered
</p>
<p class="BlueBox">
  Text with a blue glow around it and its box
</p>
