



    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Cat Ipsum</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
          <h1>Cat ipsum</h1>
          <p>Tabby siamese grimalkin persian, or havana brown yet savannah sphynx. Manx. Thai tiger and ocelot, balinese.</p>
          <p><a class="btn btn-primary btn-lg" role="button">Sign Up</a></p>
          </div>
           <div class="col-md-6">
          <img src='http://placekitten.com/g/287/320' width='287' height='320'>
          </div>
     </div>
    </div>
   </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
        <blockquote>
          <p>Turkish angora munchkin but munchkin american bobtail cornish rex.</p>
          <p><a><FONT COLOR="grey">- american bobtail</FONT></a></p>
        </div>
        <div class="col-md-4">
        </blockquote>
         <blockquote>
          <p>Cheetah siberian for devonshire rex malkin but tiger. Cornish rex puma, leopard yet singapura mouser siamese russian blue.</p>
          <p><a><FONT COLOR="grey">-persian tabby</FONT></a></p>
       </div>
        <div class="col-md-4">
          </blockquote>
          <blockquote>
          <p>American shorthair scottish fold american shorthair persian tabby. Siamese tiger scottish fold.</p>
          <p><a><FONT COLOR="grey">- cornish rex</FONT></a></p>
          </blockquote>
        </div>
      </div>

      <hr>

     
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
