<h1>Contact Us</h1>
<br>
<h2>Subject</h2>
<br>
<%= text_field_tag "subject" %>
<br>
<br>
<h2>Body</h2>
<br>
<br>
<%= text_area_tag "body","", cols:40, rows:12 %>
<br>
<br>
<%= submit_tag "Send Message"%>
<br>
<br>
<h2>Messages so far</h2>
<ul>
<% Message.order(:id).each do |message| %>
 <li><%=message.body%></li>
<%end%>
</ul>
