<h1> Apartments </h1>

<table border="1">
  <tr>
  <td><b>Address</b></td>
  <td><b>Rent</b></td>
  <td><b>Allows Pets?</b></td>
  <td><b>Link</b><td>
  </tr>
  <% @apartments.each do |a| %>
  <tr>
  <td><%=a.address%></td>
  <td><%=a.rent%></td>
  <td><%=a.allows_pets%></td>
  <td><%=a.link%></td>

  </tr>
    <%end%>
    
</table>